<div class="container-fluid bg-dark text-white">
  <div class="container py-4 border-bottom">
    <div class="d-flex flex-row justify-content-between">
      <div>
        <h5>Bookings</h5>
        <ul class="list-unstyled">
          <li><a href="">Fight</a></li>
          <li><a href="">Hotel</a></li>
          <li><a href="">Bus/Taxi</a></li>
          <li><a href="">Local sight seeing</a></li>
        </ul>
      </div>
      <div>
          <h5>Permits</h5>
          <ul class="list-unstyled">
            <li><a href="">Tourist Visa</a></li>
            <li><a href="">Restricted area permit</a></li>
            <li><a href="">forest permit</a></li>
            <li><a href="">Vehicle permit</a></li>
          </ul>
      </div>
      <div>
          <h5>Online shop</h5>
          <ul class="list-unstyled">
            <li><a href="">Antiques</a></li>
            <li><a href="">Handcrafts</a></li>
            <li><a href="">Local clothes</a></li>
          </ul>
      </div>
      <div>
          <h5>Packages</h5>
          <ul class="list-unstyled">
            <li><a href="">Stay with tribes</a></li>
            <li><a href="">Religious</a></li>
            <li><a href="">Adventures</a></li>
            <li><a href="">Trekking/camping tours</a></li>
            <li><a href="">Adventurous tours</a></li>
            <li><a href="">Widelife</a></li>
          </ul>
      </div>

    </div>
  </div>

  <div class="text-center">
    All rights reserved.
    <div class="container text-center">
      <a href="" class="pr-3">About Us</a>
      <a href="" class="pr-3">Contact Us</a>
      <a href="" class="pr-3">Policy</a>
    </div>
  </div>
</div>
